* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

body {
background-inmage: https://www.pinterest.com/pin/682013937315154485/;
padding: 2em;       /* Padding is 2 times the current zoom level font size */
}

p {
font-size: 50px;
font-family: cursive;
font-style: italic;
color: brow;
text-align: center;
}

img {
width: 500px;
height: 600px;
}

h1 {
text-align: center;
}
