* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #6FC7C3;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: #E5FBAD;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

body {
background-inmage: https://pbs.twimg.com/media/D8S2k7vU8AA2-CU?format=jpg&name=4096x4096;
padding: 2em;       /* Padding is 2 times the current zoom level font size */
}

p {
font-size: 20px;
font-family: cursive;
font-style: italic;
text-align: center;
color: #3C4C7A;
}

img {
width: 500px;
height: 600px;
align: center;
  display:block;
  margin: 0 auto;
}

h1 {
text-align: center;
  font-size: 40px;
font-family: cursive;
  color: #337A63;
}
h3 {
text-align: center;
  font-size: 30px;
font-family: cursive;
  color: #C7783C;
}
header{
  justify-content: center;
  align-item: center;
  display: block;
}
